.container-border-countries {
  padding-top: 34px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  margin-bottom: 16px;
}

.list-border-countries {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.country {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 96px;
  height: 28px;
  border-radius: 2px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);

  text-align: center;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
}

@media only screen and (min-width: 768px) {
  .country {
    width: 136px;
    height: 40px;

    gap: 10px;
    font-size: 16px;
  }
}

.dark{
  &.country{
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
    background: rgb(43, 56, 68);
    
  }

  .country-link{
    color: rgb(255, 255, 255);
  }

}
