.container {
  padding: 24px 16px 65px 16px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .container {
    padding: 48px 80px;
  }
}

.container-small {
  &.container {
    height: 100vh;
  }
}

.page-container {
  padding-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
@media only screen and (min-width: 768px) {
  .page-container {
    padding-top: 64px;
    gap: 10px;
  }
}

.page-item {
  width: 23px;
  height: 23px;

  background-color: #e6e6e8c9;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
  border-radius: 50%;
  font-size: 12px;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-item:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 768px) {
  .page-item {
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
}
.page-link {
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.page-link:hover {
  background-color: rgb(255, 255, 255);
}
.page-link:focus {
  background-color: rgb(255, 255, 255);
}

.page-active {
  background-color: rgb(255, 255, 255);
}
.page-item-controlls {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-controlls {
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .page-controlls {
    font-size: 15px;
  }
}

.page-controlls-disalbled {
  display: none;
}

.dark {
  &.container {
    background: rgb(32, 44, 54);
  }
  .page-item {
    background-color: rgba(17, 21, 23, 0.712);
  }
  .page-link {
    color: rgb(255, 255, 255);
  }
  .page-link:hover {
    background-color: rgb(43, 56, 68);
  }
  .page-link:focus {
    background-color: rgb(43, 56, 68);
  }
  .page-active {
    background-color: rgb(43, 56, 68);
  }
  .page-controlls {
    color: rgb(255, 255, 255);
  }
  .page-break {
    color: rgb(255, 255, 255);
  }
}

@media only screen and (min-width: 768px) {
  .search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.loaderWrapper {
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(172, 172, 172, 0.487);

  display: flex;
  justify-content: center;
  padding-top: 200px;
}

@media only screen and (min-width: 1440px) {
  .loaderWrapper {
    padding-top: 0px;
    align-items: center;
  }
}
