.container {
  padding: 40px 27px 60px 27px;
  height: 100vh;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 80px;
  }
}

.link-back {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 104px;
  height: 32px;
  border-radius: 2px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
  background: rgb(255, 255, 255);

  font-size: 14px;
  font-weight: 300;
  line-height: 20px;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-back:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 768px) {
  .link-back {
    width: 136px;
    height: 40px;

    gap: 10px;
    font-size: 16px;
  }
}

.section-country {
  padding-top: 64px;
}

@media only screen and (min-width: 768px) {
  .section-country {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 44px;
  }
}
@media only screen and (min-width: 1440px) {
  .section-country {
    flex-direction: row;
    gap: 144.5px;
    padding-top: 80px;
  }
}

.section-country * {
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
}
.country-flag {
  width: 320px;
  height: 229px;
  border-radius: 5.72px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.03);
}

@media only screen and (min-width: 1440px) {
  .country-flag {
    width: 560px;
    height: 401px;
  }
}

.country-name {
  margin-top: 47px;
  margin-bottom: 16px;
  font-size: 22px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0px;
}

@media only screen and (min-width: 768px) {
  .country-name {
    margin: 0px;
    text-align: center;
  }
}

@media only screen and (min-width: 1440px) {
  .country-name {
    font-size: 32px;
    margin-bottom: 23px;
  }
}

@media only screen and (min-width: 768px) {
  .container-info {
    padding-top: 36px;
    display: flex;
    gap: 75px;
  }
}

@media only screen and (min-width: 1440px) {
  .container-info {
    gap: 117px;
  }
}

.country-info-main {
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .country-info-main {
    margin-bottom: 0px;
  }
}

.country-info {
  font-weight: 300;
}

@media only screen and (min-width: 768px) {
  .country-info {
    font-size: 16px;
  }
}

.dark {
  &.container {
    background: rgb(32, 44, 54);
    color: rgb(255, 255, 255);
  }
  .link-back {
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
    background: rgb(43, 56, 68);
    color: rgb(255, 255, 255);
  }
}
