@import-normalize; /* bring in normalize.css styles */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Exo+2:wght@200;400;700;900&display=swap');
body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(242, 242, 242);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  margin: 0;
}
ul{
  list-style: none;
  padding-left: 0px;
}
h1,h2,h3{
  margin: 0;
}

.page-container{
  margin: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}